* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.contenedor {
  max-width: 1400px;
  margin: auto; }

h1 {
  text-shadow: 0rem 0.2rem 0.3rem #000000;
  font-weight: bolder; }

.navbar-toggler {
  background-color: white; }

/* ****HEADER**** */
.header {
  display: grid;
  background-color: #5f7174; }

img.header__logo {
  width: 100px; }

.blanco {
  color: white; }

.ico__ham {
  width: 80%;
  height: 80%; }

.ico__borde {
  width: 100px;
  height: 100px; }

.active--menu {
  color: #05c9e7;
  text-shadow: 0rem 0.2rem 0.3rem #000000;
  font-size: 2rem; }

.nav__menu {
  align-items: center; }

/* ******TERMINO DEL HEADER ******** */
.hero {
  background-image: url("../img/fondo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }
  .hero__h1 {
    font-size: 3rem;
    text-align: center;
    color: #05c9e7;
    margin-top: 1.5rem; }
  .hero__button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.2rem;
    border-radius: 1rem;
    border: solid 0.3rem #05c9e7;
    background-color: #5f7174;
    margin-bottom: 1rem; }
    .hero__button a {
      color: white;
      text-decoration: none; }
    .hero__button a:hover {
      color: #05c9e7;
      text-shadow: 0rem 0.2rem 0.3rem #000000;
      font-size: 1.5rem; }

.negocio {
  background-color: #6a888c; }
  .negocio__div {
    display: flex;
    padding: 1rem;
    align-items: center; }
  .negocio__img {
    width: 20rem; }
  .negocio__h2 {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: #00a6c0; }
  .negocio__p {
    text-align: center;
    color: white; }

.caract__lista {
  text-align: center;
  padding: 2rem;
  list-style-type: none; }

.donar {
  background-color: #6a888c;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column; }
  .donar__img {
    padding: 1rem;
    width: 10rem;
    height: 12rem;
    position: relative;
    text-align: center; }
    .donar__img__div {
      text-align: center;
      margin: 1rem; }
  .donar__p {
    font-size: 1.5rem;
    display: inline-block;
    width: 20rem;
    text-align: center;
    padding: 2rem;
    color: white;
    justify-content: center; }
  .donar_div {
    text-align: center;
    margin: 1rem; }
  .donar__btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.2rem 0.2rem;
    border-radius: 1rem;
    border: solid 0.3rem #05c9e7;
    background-color: #5f7174;
    margin-bottom: 1rem; }
    .donar__btn a {
      color: white;
      text-decoration: none; }
    .donar__btn a:hover {
      color: #05c9e7;
      text-shadow: 0rem 0.2rem 0.3rem #000000;
      font-size: 1.5rem; }

.contact {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column; }
  .contact__h2 {
    font-size: 3rem;
    text-align: center;
    color: #05c9e7;
    top: 1rem; }
  .contact__btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.2rem;
    border-radius: 1rem;
    border: solid 0.3rem #05c9e7;
    background-color: #5f7174;
    margin-bottom: 1rem; }
    .contact__btn a {
      color: white;
      text-decoration: none; }
    .contact__btn a:hover {
      color: #05c9e7;
      text-shadow: 0rem 0.2rem 0.3rem #000000;
      font-size: 1.5rem; }

/* ******* fin index ***** */
/* ***** footer ****** */
.footer {
  margin-top: 3REM;
  background-color: #6a888c;
  display: flex; }

.footer__nav {
  padding: 0.4rem;
  text-align: center; }

.footer__ul {
  list-style-type: none; }

.footer .footer__a {
  color: white; }

.footer .footer__a:hover {
  color: #05c9e7;
  text-shadow: 0rem 0.2rem 0.3rem #000000;
  font-size: 1.5rem; }

.footer__copy {
  color: white; }

.footer__redes {
  list-style: none; }

.footer__a {
  width: 2rem;
  padding: 0.2rem;
  text-decoration: none; }

/******** proyecto *******/
.mascotasinf__h1 {
  font-size: 3rem;
  text-align: center;
  color: #05c9e7;
  top: 1rem;
  margin-top: 2.3rem;
  margin-bottom: 2.3rem; }

.mascotasinf__div {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  align-items: center; }

.mascotainf__p {
  text-align: center; }

.mascotainf__img {
  width: 5rem;
  height: 5rem; }

.mascotainf__h2 {
  margin: 1rem;
  color: #00a6c0; }

.carousel {
  padding: 0; }

.w-100 {
  height: 600px; }

/* ****** Equipo ****** */
.team {
  background-color: #6a888c; }

.team__h1 {
  display: block;
  font-size: 3rem;
  text-align: center;
  color: #05c9e7;
  top: 1rem;
  padding: 2.5rem; }

.team__div {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-areas: "video foto1"; }

.team__video {
  padding: 1rem;
  width: 100%;
  grid-area: video; }

.team__fotos {
  text-align: center;
  padding: 1rem; }

.team__img1 {
  width: 50%; }

.team__img2 {
  width: 25%; }

.team__img3 {
  width: 100px; }

.cartas {
  display: flex;
  text-align: center;
  margin-top: 2.5rem; }

.cartas__div {
  display: flex;
  align-items: center; }

.cartas__creador {
  padding: 2rem;
  box-sizing: content-box;
  width: 10rem;
  background-image: url("../img/ceo.jpg");
  background-repeat: no-repeat;
  background-position: top;
  border: #5f7174 solid 0.5rem;
  margin: 1rem;
  background-size: cover; }

.cartas__h2 {
  color: #00a6c0;
  font-weight: bolder;
  font-size: 2rem;
  height: 12rem; }

.cartas__btn {
  font-size: 1rem;
  font-weight: bold;
  background-color: #6a888c;
  padding: 0.2rem;
  margin: 0.5rem;
  border-radius: 0.3rem; }

.cartas__a:hover {
  color: #05c9e7;
  text-shadow: 0rem 0.2rem 0.3rem #000000;
  font-size: 1.5rem; }

.cartas__a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.2rem; }

.cartas__desarrollador {
  padding: 2rem;
  box-sizing: content-box;
  width: 10rem;
  background-image: url("../img/desarrollador.jpg");
  background-repeat: no-repeat;
  background-position: top;
  border: #5f7174 solid 0.5rem;
  margin: 1rem;
  background-size: cover; }

.cartas__colaborador {
  padding: 2rem;
  box-sizing: content-box;
  width: 10rem;
  background-image: url("../img/colab.jpg");
  background-repeat: no-repeat;
  background-position: top;
  border: #5f7174 solid 0.5rem;
  margin: 1rem;
  background-size: cover; }

/********** tienda ************/
.cartas__tienda {
  padding: 2rem;
  box-sizing: content-box;
  width: 10rem;
  background-repeat: no-repeat;
  background-position: top;
  border: #5f7174 solid 0.5rem;
  margin: 1rem;
  background-size: contain; }

.cartas__mascotas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.cartas__item {
  color: #00a6c0;
  font-weight: bolder;
  font-size: 2rem;
  padding-top: 12rem; }

.cartas__parrafo {
  color: black;
  height: 8rem;
  overflow: scroll; }

.erizo {
  background-image: url("../img/erizox.jpg"); }

.huron {
  background-image: url("../img/huron.jpg");
  background-size: 338px; }

.conejo {
  background-image: url("../img/conejox.jpg");
  background-size: 400px; }

.chinchilla {
  background-image: url("../img/Chinchillax.jpg");
  background-size: 300px; }

.hamster {
  background-image: url("../img/hamster.jpg");
  background-size: 400px; }

.cobayo {
  background-image: url("../img/cobayox.jpg");
  background-size: 400px; }

.contact__tienda {
  text-align: center;
  background-color: #6a888c; }

.insumos__h2 {
  text-align: center;
  margin-top: 3rem;
  color: #05c9e7;
  font-size: 2rem; }

.rueda {
  background-image: url("../img/rueda.jpg");
  background-size: 200px; }

.gorro {
  background-image: url("../img/gorro.jpg"); }

.jaula1 {
  background-image: url("../img/jaula1.jpg"); }

.jaula2 {
  background-image: url("../img/jaula2.jpg");
  background-size: 190px; }

.kit_viaje {
  background-image: url("../img/kit_viaje.jpg"); }

.dispensador {
  background-image: url("../img/dispensador.jpg"); }

.comedero {
  background-image: url("../img/comedero.jpg"); }

.jardin {
  background-image: url("../img/jardin.jpg"); }

.conejera {
  background-image: url("../img/conejera.jpg"); }

/************ contacto **********/
.contenedor__form {
  text-align: end;
  display: flex;
  justify-content: center; }

.contact__mapa {
  grid-area: mapa;
  text-align: center;
  align-self: center; }

.infocontact {
  grid-area: info;
  text-align: center;
  margin-top: 1rem; }

.formulario {
  grid-area: form;
  text-align: center;
  border: 10px solid grey;
  padding: 1rem;
  background-color: #5f7174;
  color: #05c9e7; }

.contacto__titulo {
  grid-area: titulo; }

.contacto__h1 {
  display: block;
  font-size: 3rem;
  text-align: center;
  color: #05c9e7;
  margin-top: 2.3rem;
  margin-bottom: 2.3rem; }

.infocontact__lista {
  list-style: none; }

/*** @keyframes ***/
.vibrate-1 {
  -webkit-animation: vibrate-1 0.5s steps(2, end) infinite both;
  animation: vibrate-1 0.5s steps(2, end) infinite both; }

/* ----------------------------------------------
 * Generated by Animista on 2023-1-16 19:56:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

/** @Medias **/
@media screen and (min-width: 1024px) {
  .footer {
    line-height: 3rem; }
  .hero {
    height: 75vh; }
  .div__nav {
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .negocio__div {
    flex-direction: column; }
  .footer {
    flex-direction: column;
    line-height: 2.5rem; }
  .hero {
    height: 82vh; }
  img.header__logo {
    width: 50px; }
  .ico__ham {
    width: 80%;
    height: 80%; }
  .ico__borde {
    width: 50px;
    height: 50px; }
  .cartas__div {
    flex-direction: column; }
  .team__video {
    width: 100vw;
    position: relative; }
  .w-100 {
    height: 500px; } }

@media screen and (max-width: 425px) {
  .negocio__div {
    flex-direction: column; }
  .footer {
    flex-direction: column;
    line-height: 2.5rem; }
  .hero {
    height: 76vh; }
  img.header__logo {
    width: 50px; }
  .ico__ham {
    width: 80%;
    height: 80%; }
  .ico__borde {
    width: 50px;
    height: 50px; }
  .team__video {
    width: 100vw;
    position: relative; }
  .mascotasinf__div {
    flex-direction: column; }
  .w-100 {
    height: 300px; } }
