*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    max-width: 1400px;
    margin: auto;
}

/* ****HEADER**** */

.header{
    display: grid;
    background-color: #5f7174;
    height: 6rem;
}

.header__logo{   
    text-align: center;
    
}

.header__logo img{
    width: 3rem;
}

.header__nav{
    
    font-size: 1rem;
}

.header__ul{
    list-style: none;
}

.header__li{
    display: inline-block;
    padding: 0rem 1rem;  
    border: #00a6c0 solid 2px;
    border-radius: 0.5rem;
    
}

.header .header__a{
   color: white;
   text-decoration: none;
}

.header .header__a:hover{
    color: #a5e65a;
    background-color: #00a6c0;
}

/* ******TERMINO DEL HEADER ******** */


.hero{
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.hero__h1{
    font-size: 3rem;
    text-align: center;
    color: #05c9e7;
    
}
.hero__button{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.2rem;
    border-radius: 1rem;
    border: solid 0.3rem #05c9e7;
    background-color: #5f7174;
    margin-bottom: 1rem;
   
}
.hero__button a{
    color: white;
    text-decoration: none;
}
.hero__button a:hover{
    color: #a5e65a;
    background-color: #00a6c0;
}

/* **** TERMINO DEL HERO **** */

.negocio{
    background-color: #6a888c;
}

.negocio__div{
    
    display: flex;
    padding: 1rem;
    align-items: center;
}

.negocio__img{
    width: 20rem;
    
}
.negocio__h2{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    color: #00a6c0 ;
}
.negocio__p{
    
    text-align: center;
    color: white;
}

.caract__lista{
    text-align: center;
    padding: 2rem;
    list-style-type: none;
}
.donar{
    background-color: #6a888c;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.donar__img{
    padding: 1rem;
    width: 10rem;
    height: 12rem;
    position: relative;
    text-align: center;
}
.donar__p{
    font-size: 1.5rem;
    display: inline-block;
    width: 20rem;
    text-align: center;
    padding: 2rem;
    color: white;
    justify-content: center;

}
.donar__btn{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.2rem;
    border-radius: 1rem;
    border: solid 0.3rem #05c9e7;
    background-color: #5f7174;
    margin-bottom: 1rem;

}
.donar__btn a{
    color: white;
    text-decoration: none;
}
.donar__btn a:hover{
    color: #a5e65a;
    background-color: #00a6c0;
}

.contact{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
.contact__h2{
    font-size: 3rem;
    text-align: center;
    color: #05c9e7;
    top: 1rem;

}
.contact__btn{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.2rem;
    border-radius: 1rem;
    border: solid 0.3rem #05c9e7;
    background-color: #5f7174;
    margin-bottom: 1rem;
}
.contact__btn a{
    color: white;
    text-decoration: none;
}
.contact__btn a:hover{
    color: #a5e65a;
    background-color: #00a6c0;
}

/* ***** footer ****** */

.footer{
    margin-top: 3REM;
    background-color: #6a888c;
    display: flex;
}
.footer__nav{
    padding: 0.4rem;
}

.footer .footer__a{
    color: white;
}
 
 .footer .footer__a:hover{
     color: #a5e65a;
     background-color: #00a6c0;
}

.footer__copy{
    color: white;
}
.footer__redes{
    list-style: none;
}
.footer__a{
    width: 2rem;
    padding: 0.2rem;
}

/* ******* fin index ***** */

.mascotasinf__h1{
    font-size: 3rem;
    text-align: center;
    color: #05c9e7;
    top: 1rem;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;

}

.slider{
    margin-left: 5%;
    width: 90vw;
    overflow-x: scroll;
}
.slider__ul{
    display: flex;
    
}
.slider__li{
    list-style-type: none;
    border: #00a6c0 solid 0.5rem;
    
}

.slider__img{
    width: 20rem;
    height: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.mascotasinf__div{
    width: 40rem;
    height: 5rem;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    align-items: center;    

}
.mascotainf__img{
    
    width: 5rem;
    height: 5rem;
}

.mascotainf__h2{
    margin: 1rem;
    color: #00a6c0;
    
}
/* ****** Equipo ****** */

.team{
    background-color: #6a888c;
     
}

.team__h1{
    display: block;
    font-size: 3rem;
    text-align: center;
    color: #05c9e7;
    top: 1rem;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
}

.team__div{
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-areas: "video foto1";
      
}

.team__video{
    padding: 1rem;
    width: 100%;
    grid-area: video;
}

.team__fotos{
    text-align: center;
    padding: 1rem;
}
.team__img1{
    width: 50%;
}
.team__img2{
    width: 25%;
    
}
.team__img3{
    width: 100px;
    
    
}

.cartas{
    display: flex;
    text-align: center;
    padding: 3rem 0rem;
}
.cartas__div{
    display: flex;
}

.cartas__creador{
    padding: 2rem;
    box-sizing: content-box;
    width: 10rem;
    background-image: url("../img/ceo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    border: #5f7174 solid 0.5rem;
    margin: 1rem;
    background-size: cover;
    
}
.cartas__h2{
    
    color: #00a6c0;
    font-weight: bolder;
    font-size: 2rem;
    height: 12rem;
}

.cartas__btn{
    font-size: 1rem;
    font-weight: bold;
    background-color: #6a888c;
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

.cartas__a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.2rem;
}

.cartas__desarrollador{
    padding: 2rem;
    box-sizing: content-box;
    background-image: url("../img/desarrollador.jpg");
    background-repeat: no-repeat;
    background-position: top;
    border: #5f7174 solid 0.5rem;
    margin: 1rem;
    background-size: cover;

}

.cartas__colaborador{
    padding: 2rem;
    box-sizing: content-box;
    width: 10rem;
    background-image: url("../img/colab.jpg");
    background-repeat: no-repeat;
    background-position: top;
    border: #5f7174 solid 0.5rem;
    margin: 1rem;
    background-size: cover;
}

/********** tienda ************/

.catalogo__h1{
    display: block;
    font-size: 3rem;
    text-align: center;
    color: #05c9e7;
    top: 1rem;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
}
.div__tabla{
    text-align: center;
}
.catalogo__tabla{
    margin: 10%;
    margin-top: 2rem;
}

.contact__tienda{
    text-align: center;
    background-color: #6a888c;
}

.insumos__h2{
    text-align: center;
    margin-top: 3rem;
    color: #05c9e7;
    font-size: 2rem;
}

/************ contacto **********/

.main__contacto{

    display: grid;
    height: 90vh;
    grid-template-rows: auto 1fr 100px;
    grid-template-columns: 1fr 50%;
    grid-template-areas: "titulo titulo"
                         "form mapa"
                         "info info";
}
.contact__mapa{
    grid-area: mapa;
    text-align: center;
    align-self: center;
    
}
.infocontact{
    grid-area: info;
    text-align: center;
    margin-top: 1rem;
    
}
.formulario{
    grid-area: form;
    text-align: center;
    border: 10px solid grey;
    padding: 1rem;
}
.contacto__titulo{
    grid-area: titulo;
}

.contacto__h1{
    display: block;
    font-size: 3rem;
    text-align: center;
    color: #05c9e7;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;

}
.infocontact__lista{
    list-style: none;
}
