/************ contacto **********/
.contacto{
    display: block;
    &__titulo{
        grid-area: titulo;
        &__h1{
            display: block;
            font-size: 3rem;
            text-align: center;
            color: #05c9e7;
            margin-top: 2.3rem;
            margin-bottom: 2.3rem;
        }
    }
}
.formulario{
    grid-area: form;
    text-align: center;
    border: 10px solid grey;
    padding: 1rem;
    background-color: #5f7174;
    color: #05c9e7;
    &__cont{
        text-align: end;
        display: flex;
        justify-content: center;
    }    
}
.infocontact{
    grid-area: info;
    text-align: center;
    margin-top: 1rem;
    &__lista{
        list-style: none;
    }
}
.contact__mapa{
    grid-area: mapa;
    text-align: center;
    align-self: center;
}