.contenedor{
    max-width: 1400px;
    margin: auto;
}

h1{
    text-shadow: 0rem 0.2rem 0.3rem #000000;
    font-weight: bolder;
}
.navbar-toggler {
    background-color: rgb(255, 255, 255);
}

.gify{
    position: fixed;
    width: 20vw;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}